/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* comman css start */
body {
  font-family: "Roboto", sans-serif;
}

.comman_left_right_side_row {
  display: flex;
  align-items: flex-start;
}

.comman_left_sidebar_section {
  transition: all 0.5s ease-in-out;
}

.comman_left_sidebar_content {
  max-width: 275px;
  min-width: 275px;
  width: 100%;
  background: #121212;
  min-height: calc(100vh - 71px);
  height: auto;
  padding: 45px 37px 34px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.comman_right_content {
  max-width: calc(100% - 275px);
  width: 100%;
}

/* comman css end */

/* dashboard left sidebar css start */

.comman_left_sidebar_section .left_siderbar_nav {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.comman_left_sidebar_section .left_siderbar_nav .left_sidebar_items {
  display: block;
  padding: 15px 0;
}

.comman_left_sidebar_section
  .left_siderbar_nav
  .left_sidebar_items
  .left_sidebar_link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.25);
  letter-spacing: normal;
  text-transform: capitalize;
  text-decoration: none;
}

.comman_left_sidebar_section
  .left_siderbar_nav
  .left_sidebar_items
  .left_sidebar_link.active,
.comman_left_sidebar_section
  .left_siderbar_nav
  .left_sidebar_items
  .left_sidebar_link:hover,
.comman_left_sidebar_section
  .left_siderbar_support_policy_nav
  .left_sidebar_items
  .left_sidebar_link {
  color: #ffffff;
}

.comman_left_sidebar_section .left_siderbar_support_policy_nav {
  margin-top: auto;
  margin-bottom: 0;
}

.comman_left_sidebar_section
  .left_siderbar_support_policy_nav
  .left_sidebar_items {
  padding: 10.5px 0;
}

.comman_left_sidebar_section .left_siderbar_nav .left_sidebar_items:first-child,
.comman_left_sidebar_section
  .left_siderbar_support_policy_nav
  .left_sidebar_items:first-child {
  padding-top: 0;
}

.comman_left_sidebar_section .left_siderbar_nav .left_sidebar_items:last-child,
.comman_left_sidebar_section
  .left_siderbar_support_policy_nav
  .left_sidebar_items:last-child {
  padding-bottom: 0;
}

.comman_left_sidebar_section
  .left_siderbar_support_policy_nav
  .left_sidebar_items
  .left_sidebar_link {
  font-weight: 400;
  line-height: 22px;
}

#leftSidebarToggelInput {
  display: none;
}

.left_sidebar_toggel_btn {
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 15px;
  display: none;
}

.left_sidebar_toggel_btn svg {
  width: 25px;
  height: 25px;
}

.comman_left_sidebar_content .left_sidebar_toggel_btn {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #fff;
  color: #000;
}

.comman_left_sidebar_content .left_sidebar_toggel_btn svg {
  width: 18px;
  height: 18px;
}

/* dashboard left sidebar css end */

/* comman right content css start */

.comman_right_content {
  padding: 44px 30px 25px 25px;
}

/* comman right content css end */

/* heder css start */

.custom_header_content {
  position: sticky;
  top: 0;
  z-index: 999999;
  background: #ffffff;
}

.custom_header_content .navbar {
  padding: 14px 36px 14px 32px;
  border-bottom: 1px solid #eaeaea;
}

.custom_header_content .navbar .navbar-brand {
  padding: 0;
  max-width: 200px;
  width: 100%;
  height: 32px;
}

.custom_header_content .navbar .navbar-brand img {
  width: 100%;
}

.custom_header_content .navbar .navbar-nav .nav-link {
  padding: 0 8px;
}

.top_header_nav {
  align-items: center;
}

.top_header_nav .top_header_checkbox {
  padding-left: 0;
}

.top_header_nav .top_header_checkbox .custom-control-label {
  padding-left: 0;
  padding-right: 49px;
  margin-right: 23px;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-transform: none;
  font-weight: 400;
  letter-spacing: normal;
}

.top_header_nav .top_header_checkbox .custom-control-label::before {
  left: auto;
  right: 0px;
  background: #c4c4c4;
  border-radius: 50px;
  width: 41px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.top_header_nav .top_header_checkbox .custom-control-label::after {
  left: auto;
  right: 21px;
  background: #f7f7f9;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.top_header_nav
  .top_header_checkbox
  .custom-control-input:focus
  ~ .custom-control-label::before {
  box-shadow: none;
}

.top_header_nav
  .top_header_checkbox
  .custom-control-input:checked
  ~ .custom-control-label::after {
  transform: translateY(-50%);
  right: 0px;
  background: #6c6c6c;
}

.top_header_nav .top_header_setting_link,
.top_header_nav .top_header_notification_link {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}

.top_header_nav .top_header_setting_link {
  margin-left: 0;
}

.top_header_nav .top_header_user_link {
  margin-left: 32px;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  overflow: hidden;
}

.top_header_nav .top_header_user_link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* heder css end */

/* creat account step one css start */

.create_account_step_one {
  max-width: 497px;
  margin: 155px auto 50px;
  background: #ffffff;
  border: 1px solid #b0b0b0;
  padding: 48px 20px 28px;
}

.create_account_heding {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  margin-bottom: 7px;
  padding: 0;
  letter-spacing: normal;
  text-transform: none;
}

.create_account_paregraph {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  letter-spacing: normal;
  max-width: 404px;
}

.create_account_category_section {
  margin: 34px auto 0;
  max-width: 296px;
}

.create_account_category_section .create_account_category_top_text {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: 400;
  text-align: center;
  margin-bottom: 12px;
}

.create_account_category_section .create_account_category_row {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  display: grid;
  gap: 18px;
  margin-bottom: 34px;
}

.create_account_category_section
  .create_account_category_row
  .create_account_category_column {
  background: #ffffff;
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding: 34px 15px 29px;
  text-align: center;
  text-decoration: none;
}

.create_account_category_section
  .create_account_category_row
  .create_account_category_column.active {
  background: #f9f9f9;
  border-color: #000000;
}

.create_account_category_section .create_account_category_img {
  width: 54px;
  height: 54px;
  background: #e2e2e2;
  margin: 0 auto 20px;
}

.create_account_category_section .create_account_category_heading {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 11px;
  letter-spacing: normal;
  text-transform: none;
}

.create_account_category_section .create_account_category_price {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  margin: 0;
  letter-spacing: normal;
}

.create_account_category_section .create_account_category_price span {
  font-size: 10px;
  display: block;
  line-height: 11.72px;
}

.create_account_next_btn {
  padding: 10px 10px 11px;
  background: #292929;
  border: 1px solid #292929;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

a.disabled {
  pointer-events: none;
  color: #ccc;
}

.create_account_next_btn:hover {
  background: #ffffff;
  color: #292929;
  text-decoration: none;
}

.create_account_back_btn {
  width: fit-content;
  margin: 16px auto 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #9f9f9f;
}

.create_account_back_btn:hover {
  color: #292929;
  text-decoration: none;
}

/* creat account step one css start */

/* login home page css start */

.login_home_page_left_column {
  background: #606060;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 15px;
  min-height: 100vh;
}

.login_home_page_logo {
  max-width: 360px;
}

.login_home_page_right_column {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
}

.login_home_page_right_column .tab-content {
  max-width: 450px;
}

.login_home_page_right_column .nav {
  width: fit-content;
  border-bottom: 2px solid #c4c4c4;
}

.login_home_page_right_column .nav .nav-link {
  margin-bottom: -2px;
  border: 0;
  border-bottom: 2px solid #c4c4c4;
  margin-right: 0;
  color: #c4c4c4;
  font-weight: bold;
  font-size: 16px;
}

.login_home_page_right_column .nav .nav-link.active {
  border-bottom-color: #000;
  color: #000;
}

.login_home_page_right_data h2 {
  text-transform: none;
  letter-spacing: normal;
  color: #000000;
  padding: 0;
  margin-bottom: 0;
}

.login_home_page_right_data p {
  letter-spacing: normal;
  font-size: 13px;
  font-weight: 400;
  color: #000;
  margin-bottom: 30px;
}

.login_home_page_right_data .login_home_page_right_login_btn {
  padding: 10px 10px 11px;
  background: #292929;
  border: 1px solid #292929;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

.login_home_page_right_data .login_home_page_right_login_btn:hover {
  background: #ffffff;
  color: #292929;
  text-decoration: none;
}

.login_home_page_right_data .form-group {
  margin: 16px 0;
}

.login_home_page_right_data .form-group .form-check input {
  display: none;
}

.login_home_page_right_data .form-group .form-check {
  display: flex;
  align-items: center;
}

.login_home_page_right_data .form-group .form-check label {
  position: relative;
  letter-spacing: normal;
  color: #c4c4c4;
  font-size: 11px;
  font-weight: 400;
}

.login_home_page_right_data .form-group .form-check label::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 1.5px solid #000;
  border-radius: 2px;
}

.login_home_page_right_data .form-group .form-check label::after {
  content: "";
  position: absolute;
  left: -15px;
  top: 48%;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: translateY(-50%) rotate(45deg) scale(0);
  -ms-transform: translateY(-50%) rotate(45deg) scale(0);
  transform: translateY(-50%) rotate(45deg) scale(0);
  transition: all 0.3s ease-in-out;
}

.login_home_page_right_data
  .form-group
  .form-check
  input:checked
  ~ label::after {
  -webkit-transform: translateY(-50%) rotate(45deg) scale(1);
  -ms-transform: translateY(-50%) rotate(45deg) scale(1);
  transform: translateY(-50%) rotate(45deg) scale(1);
}

.login_home_page_right_data .login_home_page_right_bottom_link {
  padding-top: 10px;
}

.login_home_page_right_data .login_home_page_right_bottom_link p {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #c4c4c4;
}

.login_home_page_right_data
  .login_home_page_right_bottom_link
  .login_home_page_right_forgot_link {
  font-size: 13px;
  color: blue;
  font-weight: 400;
  letter-spacing: normal;
}

/* login home page css end */

/* creat account step two css start */

.creat_account_input_row {
  margin: 41px -9.5px 20px;
}

.creat_account_input_row .col-md-6,
.creat_account_input_row .col-md-12,
.creat_account_input_row .col-md-8,
.creat_account_input_row .col-md-4 {
  padding: 0 9.5px;
}

.creat_account_input_row .form-group {
  margin-bottom: 22px;
}

.creat_account_input_row .form-group .form-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  letter-spacing: normal;
}

.creat_account_input_row .form-group .form-control {
  background: #ffffff;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  padding: 10px 8px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: normal;
  height: auto;
}

.create_account_next_btn {
  max-width: 296px;
  margin: 0 auto;
}

/* creat account step two css end */

/* creat account step three css start */

.create_account_price_content {
  background: #3f3f3f;
  margin: 26px -20px 0;
  padding: 16px 20px 14px;
  text-align: center;
}

.create_account_price_content h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  letter-spacing: normal;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 7px;
}

.create_account_price_content p {
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  margin: 0;
}

.create_account_price_content p:first-child {
  margin-bottom: 8px;
}

.create_account_price_content p:last-child {
  margin-bottom: 0;
}

.create_account_step_three .creat_account_input_row {
  margin-top: 36px;
}

/* creat account step three css end */

/* creat account step four css start */

.create_account_step_four {
  padding-top: 52.5px;
}

.create_account_step_four .create_account_step_four_inner_content {
  max-width: 296px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.create_account_step_four .create_account_step_four_inner_content img {
  max-width: 87.5px;
  margin-bottom: 39.5px;
}

.create_account_step_four .create_account_step_four_inner_content p {
  margin-bottom: 31px;
}

/* creat account step four css end */

/* select membership section css start */

.select_membership_section {
  max-width: 785px;
  padding: 48px 24px 28px;
}

.select_membership_section .create_account_paregraph {
  margin-bottom: 36px;
}

.membership_price_row {
  margin: 0 -2.5px;
  max-width: 670px;
  width: 100%;
}

.membership_price_row .membership_price_column {
  max-width: 20%;
  width: 100%;
  padding: 0 2.5px;
  text-decoration: none;
}

.membership_price_month_text {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  opacity: 0.5;
  text-align: center;
  padding: 22px 10px 29px;
}

.membership_price_month_text.active {
  opacity: 1;
}

.membership_price_month_text .membership_price_texts h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  letter-spacing: normal;
  text-transform: none;
  padding: 0;
  margin-bottom: 12px;
}

.membership_price_month_text .membership_price_texts h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  letter-spacing: normal;
  text-transform: none;
  margin: 0;
}

.membership_price_month_text .membership_month_text p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  letter-spacing: normal;
  margin-top: 36px;
  margin-bottom: 0;
}

.membership_price_content .membership_price_user_text p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  letter-spacing: normal;
  margin-bottom: 0;
}

.membership_price_content .membership_price_user_text p:first-child {
  margin-bottom: 36px;
}

.membership_price_content .membership_price_user_text {
  min-width: 66px;
  max-width: 66px;
  width: 100%;
  padding-bottom: 29px;
}

.membership_price_content {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-bottom: 36px;
}

.membership_price_content::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 63px;
  height: 1px;
  width: calc(100% - 36px);
  background: #efefef;
}

.select_membership_section .create_account_next_btn {
  max-width: 202px;
}

/* select membership section css end */

/* comman heading css start */

.comman_heading_section .comman_main_heading {
  letter-spacing: normal;
  text-transform: none;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 16px;
  padding: 0;
}

.comman_heading_section .comman_sub_heading {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin: 0;
}

.comman_heading_section .comman_paragraph {
  font-size: 14px;
  line-height: 16px;
  color: #757575;
  margin: 0;
  font-weight: 400;
}

/* comman heading css end */

/* dahsboard css start */

.dashboard_step_section {
  padding-top: 16px;
}

.dashboard_step_section .dashboard_step_item {
  background: #ffffff;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  padding: 20px 27px 21px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.dashboard_step_section .dashboard_step_item:last-child {
  margin-bottom: 0;
}

.dashboard_step_section .dashboard_step_item .dashboard_step_img {
  min-width: 112px;
  max-width: 112px;
  width: 100%;
  height: 90px;
}

.dashboard_step_section .dashboard_step_item .dashboard_step_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dashboard_step_section .dashboard_step_item .dashboard_step_texts {
  padding: 0 24px;
}

.dashboard_step_section .dashboard_step_item .dashboard_step_texts h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #a8a8a8;
  letter-spacing: normal;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 7px;
}

.dashboard_step_section .dashboard_step_item .dashboard_step_texts h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: normal;
  text-transform: none;
  padding: 0;
  margin-bottom: 8px;
}

.dashboard_step_section .dashboard_step_item .dashboard_step_texts p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #727272;
  margin-bottom: 0;
}

.dashboard_step_section .dashboard_step_item .dashboard_step_continue_btn {
  margin-left: auto;
  max-width: 126px;
  width: 100%;
}

.dashboard_step_section
  .dashboard_step_item
  .dashboard_step_continue_btn
  button {
  background: #000000;
  border: 1px solid #000000;
  padding: 8px 8px 9px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  display: block;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.dashboard_step_section
  .dashboard_step_item
  .dashboard_step_continue_btn
  button:hover {
  background: #ffffff;
  color: #000000;
}

/* dashboard css end */

/* account setup page css start */

.account_setup_page_section {
  background: #333333;
  min-height: calc(100vh - 71px);
}

.account_setup_page_section .container {
  max-width: 467px;
}

.account_setup_page_section .account_setup_page_content {
  padding: 139px 0 100px;
  text-align: center;
}

.account_setup_page_section .account_setup_page_content .account_setup_img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  margin-bottom: 26px;
}

.account_setup_page_section .account_setup_page_content h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  letter-spacing: normal;
  text-transform: none;
  padding: 0;
  margin-bottom: 8px;
}

.account_setup_page_section .account_setup_page_content p {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: normal;
  margin-bottom: 34px;
}

.account_setup_page_section
  .account_setup_page_content
  .account_setup_get_start_btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  letter-spacing: normal;
  text-transform: none;
  padding: 11px 10px 10px;
  background: #ffffff;
  max-width: 134px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-decoration: none;
  border: 1px solid #ffffff;
  transition: all 0.5s ease-in-out;
}

.account_setup_page_section
  .account_setup_page_content
  .account_setup_get_start_btn:hover {
  color: #ffffff;
  background: transparent;
  border-color: #ffffff;
}

.account_setup_page_section
  .account_setup_page_content
  .account_setup_exit_btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: normal;
  text-transform: none;
  padding: 11px 10px 10px;
  background: transparent;
  max-width: 134px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.account_setup_page_section .account_setup_page_content a {
  margin-bottom: 15px;
}

.account_setup_page_section .account_setup_page_content a:last-child {
  margin-bottom: 0;
}

.account_setup_content {
  display: flex;
  /* align-items: flex-start; */
}

/* account setup page css end */

/* account setup left sidebar page css end */

.account_setup_left_sidebar_section .account_setup_left_sidebar_content {
  max-width: 555px;
  min-width: 555px;
  width: 100%;
  background: #333333;
  min-height: calc(100vh - 71px);
  height: 100%;
  padding: 23px 24px 23px 31px;
  display: flex;
  align-items: flex-start;
}

.account_setup_left_sidebar_content .account_setup_save_exit_btn {
  max-width: 42%;
  width: 100%;
  padding-right: 15px;
}

.account_setup_left_sidebar_content .account_setup_save_exit_btn a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: normal;
  text-transform: none;
  padding: 11px 10px 10px;
  background: transparent;
  max-width: 134px;
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.account_setup_left_sidebar_content .account_setup_menu {
  max-width: 58%;
  width: 100%;
  padding-left: 15px;
}

.account_setup_left_sidebar_content .account_setup_nav {
  list-style: none;
  padding-left: 0;
  margin-top: 82px;
}

.account_setup_left_sidebar_content .account_setup_nav .account_setup_items {
  padding: 16px 0;
}

.account_setup_left_sidebar_content
  .account_setup_nav
  .account_setup_items:first-child {
  padding-top: 0;
}

.account_setup_left_sidebar_content
  .account_setup_nav
  .account_setup_items:last-child {
  padding-bottom: 0;
}

.account_setup_left_sidebar_content
  .account_setup_nav
  .account_setup_items
  .account_setup_link {
  margin-bottom: 0;
  cursor: pointer;
}

.account_setup_left_sidebar_content
  .account_setup_nav
  .account_setup_items
  .account_setup_link
  label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  cursor: pointer;
}

.account_setup_left_sidebar_content
  .account_setup_nav
  .account_setup_items
  .account_setup_link
  label::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  width: 1px;
  height: 100%;
  background: #e3e3e3;
}

.account_setup_left_sidebar_content
  .account_setup_nav
  .account_setup_items
  .account_setup_link
  label::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 100%;
  width: 1px;
  height: calc(100% + 22px);
  background: #e3e3e3;
}

.account_setup_left_sidebar_content
  .account_setup_nav
  .account_setup_items
  .account_setup_link
  input {
  display: none;
}

.account_setup_left_sidebar_content
  .account_setup_nav
  .account_setup_items
  .account_setup_link
  input:checked
  ~ label::before {
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 3px;
  left: -28px;
}

.account_setup_left_sidebar_content
  .account_setup_nav
  .account_setup_items
  .account_setup_link
  input:checked
  ~ label::after {
  width: 7px;
  height: 11px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid #000000;
  border-width: 0 2px 2px 0;
  top: 2px;
  left: -23px;
  background: transparent;
}

.account_setup_left_sidebar_content
  .account_setup_nav
  .account_setup_items
  .account_setup_link
  input:checked
  ~ label {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.account_setup_left_sidebar_content
  .account_setup_nav
  .account_setup_items:last-child
  .account_setup_link
  label::after {
  height: 100%;
}

/* account setup left sidebar page css end */

/* account setup page right content css start */

.account_setup_right_section {
  padding: 102px 0 50px;
  width: 100%;
}

.account_setup_right_section .account_setup_right_content {
  max-width: 604px;
  width: 100%;
  padding: 0 30px;
}

.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content {
  padding-top: 32px;
}

.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .indicate_required_text {
  font-size: 12px;
  line-height: 14px;
  color: #acacac;
  font-weight: 400;
  margin-bottom: 32px;
  display: block;
}

.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_main_heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #a7a7a7;
  letter-spacing: normal;
  text-transform: none;
  padding: 0;
  margin-bottom: 16px;
}

.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label
  label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 8px;
  display: block;
  letter-spacing: normal;
}

.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label
  select,
.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label
  input,
.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label
  textarea {
  background: #ffffff;
  border: 1px solid #c9c9c9;
  color: #000000;
  border-radius: 3px;
  padding: 9px 13px;
  font-size: 15px;
  width: 100%;
  outline: none;
  height: auto;
  resize: none;
}

.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label.suffix_select_label
  select {
  max-width: 77px;
}

.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label {
  margin-bottom: 0;
}

.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label
  .input_file_button {
  max-width: 219px;
  width: 100%;
  border: 1px solid #000000;
  background: transparent;
  color: #000000;
  position: relative;
  overflow: hidden;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  padding: 11px 11px 10px;
}

.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label
  .input_file_button
  input {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label_row {
  row-gap: 16px;
  margin-left: -7.5px;
  margin-right: -7.5px;
  margin-top: 21px;
  padding-top: 16px;
  border-top: 1px dashed #cecece;
}

.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label_row:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}

.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label_row
  .pluse_add_btn {
  background: transparent;
  padding: 0;
  margin-top: 21px;
}

.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label_row
  .acount_setup_input_main_heading {
  margin-bottom: 0;
  margin-top: 19px;
  padding: 0 7.5px;
}

.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label_row
  .col-lg-4,
.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label_row
  .col-lg-12,
.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label_row
  .col-lg-8,
.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label_row
  .col-lg-6,
.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label_row
  .col-lg-3,
.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label_row
  .col-lg-5 {
  padding: 0 7.5px;
}

.custom_radio_btn_content {
  margin-top: 24px;
  margin-bottom: 40px;
}

.custom_radio_btn_content .custom_radio_btn {
  margin-bottom: 8px;
  position: relative;
}

.custom_radio_btn_content .custom_radio_btn:last-child {
  margin-bottom: 0px;
}

.custom_radio_btn_content .custom_radio_btn label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  position: relative;
  padding-left: 22px;
  margin-bottom: 0;
}

.custom_radio_btn_content .custom_radio_btn label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 1px solid #000000;
  border-radius: 16px;
}

.custom_radio_btn_content .custom_radio_btn label::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%) scale(0);
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 16px;
}

.custom_radio_btn_content .custom_radio_btn input:checked ~ label::after {
  transform: translateY(-50%) scale(1);
}

.custom_radio_btn_content .custom_radio_btn input {
  position: absolute;
  opacity: 0;
}

.custom_radio_btn_content .preferred_contact_radio_peragraph_heading {
  font-size: 14px;
  line-height: 16px;
  color: #757575;
  letter-spacing: normal;
  font-weight: 400;
}

.custom_radio_btn_content .preferred_contact_radio_peragraph_heading span {
  font-weight: 700;
}

.next_back_btns {
  display: flex;
  align-items: center;
}

.next_back_btns a {
  padding: 11px 11px 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #b4b4b4;
  display: block;
  width: fit-content;
  text-decoration: none;
}

.next_back_btns .next_btn {
  background: #000;
  max-width: 134px;
  width: 100%;
  color: #fff;
  margin-left: 21px;
}

/* account setup page right content css end */

/* account setup home address page css start */

.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label_row
  .acount_setup_input_label
  .custom_radio_btn_content {
  display: flex;
  align-items: center;
  margin: 0 -8px;
}

.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_label_row
  .acount_setup_input_label
  .custom_radio_btn_content
  .custom_radio_btn {
  margin: 0 8px;
}

.account_setup_right_section
  .account_setup_right_content
  .home_address_form_content
  .acount_setup_input_label_row {
  border: 1px solid #000000 !important;
  border-radius: 5px;
  padding: 10px 8.5px !important;
}

.account_setup_right_section
  .account_setup_right_content
  .home_address_form_content
  .pluse_add_text_btn {
  padding: 0;
  background: transparent;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  letter-spacing: normal;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: 12px;
}

.account_setup_right_section
  .account_setup_right_content
  .home_address_form_content
  .pluse_add_text_btn
  svg {
  margin-right: 13px;
}

.account_setup_right_section
  .account_setup_right_content
  .home_address_form_content
  .next_back_btns {
  margin-top: 28px;
}

.account_education_page_right_section .page_comman_heading_section p {
  font-size: 14px;
  line-height: 16px;
  color: #757575;
  letter-spacing: normal;
  font-weight: 400;
  margin-bottom: 16px;
}

.account_education_page_right_section
  .page_comman_heading_section
  p:last-child {
  margin-bottom: 0;
}

.account_setup_right_section
  .account_setup_right_content
  .acount_setup_input_content
  .acount_setup_input_small_heading {
  font-size: 14px;
  line-height: 16px;
  color: #757575;
  letter-spacing: normal;
  font-weight: 400;
  margin-bottom: 0;
}

.accountSetupToggelBtn,
.accountSetupToggleCloseBtn {
  width: 35px;
  height: 35px;
  background: #000;
  border-radius: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0 0 15px 0;
}

.accountSetupToggelBtn svg,
.accountSetupToggleCloseBtn svg {
  width: 25px;
  height: 25px;
  color: #fff;
}

.accountSetupToggleCloseBtn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.accountSetupToggleInput {
  display: none;
}

.heading_radio_btn {
  margin-top: 0;
  margin-bottom: 8px;
}

/* account setup home address page css end */

@media (max-width: 991px) {
  /* comman css start */

  .comman_right_content {
    max-width: 100%;
  }

  /* comman css end */

  /* dashboard left sidebar css start */

  .left_sidebar_toggel_btn {
    display: flex;
  }

  .comman_left_sidebar_section {
    position: fixed;
    left: -100%;
    width: 100%;
    background: #00000035;
  }

  #leftSidebarToggelInput:checked ~ .comman_left_sidebar_section {
    left: 0;
  }

  .comman_left_sidebar_content {
    min-height: calc(100vh - 65.25px);
  }

  /* dashboard left sidebar css end */

  /* creat account step one css start */

  .create_account_step_one {
    margin-top: 50px;
    width: calc(100% - 30px);
  }

  /* creat account step one css end */

  /* select membership section css start */

  .membership_price_row .membership_price_column {
    max-width: 33.33%;
    padding-top: 5px;
  }

  .membership_price_row {
    margin-top: -5px;
  }

  .membership_price_content {
    align-items: flex-start;
  }

  .membership_price_content::before {
    display: none;
  }

  .membership_price_content .membership_price_user_text {
    min-height: 169px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  /* select membership section css end */

  /* comman right content css start */

  .comman_right_content {
    padding-top: 25px;
  }

  /* comman right content css end */

  .account_setup_content .account_setup_left_sidebar_section {
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 9999;
    min-height: 100vh;
    overflow-y: auto;
    max-height: 100vh;
    transition: all 0.5s ease-in-out;
  }

  .account_setup_right_section .account_setup_right_content {
    margin: 0 auto;
  }

  .account_setup_right_section {
    padding: 67px 0 50px;
  }

  .accountSetupToggelBtn,
  .accountSetupToggleCloseBtn {
    display: flex;
  }

  .accountSetupToggleInput:checked ~ .account_setup_left_sidebar_section {
    left: 0;
  }
}

@media (max-width: 767px) {
  /* dahsboard css start */

  .dashboard_step_section .dashboard_step_item {
    display: block;
    text-align: center;
  }

  .dashboard_step_section .dashboard_step_item .dashboard_step_img {
    margin: 0 auto 24px;
  }

  .dashboard_step_section .dashboard_step_item .dashboard_step_texts {
    padding: 0;
  }

  .dashboard_step_section .dashboard_step_item .dashboard_step_continue_btn {
    margin: 24px auto 0;
  }

  /* dahsboard css end */

  /* account setup page css start */

  .account_setup_page_section .account_setup_page_content {
    padding: 50px 0;
  }

  /* account setup page css end */

  .account_setup_left_sidebar_section .account_setup_left_sidebar_content {
    display: block;
    min-width: 320px;
    max-width: 320px;
  }
  .account_setup_left_sidebar_content .account_setup_nav {
    margin-top: 40px;
  }

  .account_setup_left_sidebar_content .account_setup_menu {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  /* select membership section css start */

  .membership_price_row .membership_price_column {
    max-width: 50%;
  }

  /* select membership section css end */
}

@media (max-width: 400px) {
  /* header css start */

  .custom_header_content .navbar {
    padding: 15px;
  }

  .custom_header_content .navbar .navbar-brand {
    max-width: 170px;
  }

  /* header css start */

  /* creat account step one css start */

  .create_account_category_section
    .create_account_category_row
    .create_account_category_column {
    padding: 15px 10px 10px;
  }

  .create_account_step_one {
    padding: 48px 15px 28px;
  }

  /* creat account step one css end */

  /* creat account step three css start */

  .create_account_price_content {
    margin: 41px -15px 20px;
  }

  /* creat account step three css end */

  /* select membership section css start */

  .membership_price_row .membership_price_column {
    max-width: 100%;
  }

  /* select membership section css end */

  /* dashboard left sidebar css start */

  .comman_left_sidebar_content {
    min-height: calc(100vh - 67.25px);
  }

  /* dashboard left sidebar css end */
}
