
main {
  min-height: 80vh;
}

h3 {
  margin: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* @media only screen and (min-width: 768px) and (max-width: 1200px) {
 
  .product-page-section {
    min-width: 350px;
  }
 
  .product-page-section:nth-child(3) {
    margin: 20px 0 0 50%;
  }
} */

.selectForm {
  padding: 0.75rem 0.2rem;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
  padding: 10px;
  box-sizing: border-box;
}
 
.carousel-caption h2 {
  color: #fff;
}
 
.carousel img {
  height: 300px;
  padding: 40px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
 
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
